@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));

  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));

  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));

  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));

  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));

  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));

  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));

  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));

  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));

  --color-chart-1: hsl(var(--chart-1));
  --color-chart-2: hsl(var(--chart-2));
  --color-chart-3: hsl(var(--chart-3));
  --color-chart-4: hsl(var(--chart-4));
  --color-chart-5: hsl(var(--chart-5));

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --font-sans: Inter, sans-serif;
}
/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@utility text-balance {
  text-wrap: balance;
}

@layer utilities {
  @plugin "@tailwindcss/typography";

  body {
    @apply bg-background font-mono text-foreground antialiased;
    font-synthesis-weight: none;
    text-rendering: optimizeLegibility;
  }
}

@layer base {
  :root {
    /* white */
    --background: oklch(1 0 0);

    /* zinc-950 */
    --foreground: oklch(0.141 0.005 285.823);

    /* zinc-950 */
    --primary: oklch(0.141 0.005 285.823);

    /* zinc-50 */
    --primary-foreground: oklch(0.985 0 0);

    /* zinc-100 */
    --secondary: oklch(0.967 0.001 286.375);

    /* zinc-950 */
    --secondary-foreground: oklch(0.141 0.005 285.823);

    /* zinc-100 */
    --muted: oklch(0.967 0.001 286.375);

    /* zinc-500 */
    --muted-foreground: oklch(0.552 0.016 285.938);

    /* white */
    --card: oklch(1 0 0);

    /* zinc-950 */
    --card-foreground: oklch(0.141 0.005 285.823);

    /* white */
    --popover: oklch(1 0 0);

    /* zinc-950 */
    --popover-foreground: oklch(0.141 0.005 285.823);

    --popover-border: color-mix(in oklab, var(--color-black) 15%, transparent);

    /* zinc-100 */
    --accent: oklch(0.967 0.001 286.375);

    --accent-muted: color-mix(in oklab, var(--accent) 50%, transparent);

    /* zinc-900 */
    --accent-foreground: oklch(0.21 0.006 285.885);

    /* zinc-200 */
    --border: oklch(0.92 0.004 286.32);

    /* color-mix */
    --edge: color-mix(in oklab, var(--border) 64%, var(--background));

    /* zinc-200 */
    --input: oklch(0.92 0.004 286.32);

    /* zinc-400 */
    --ring: oklch(0.705 0.015 286.067);

    --info: oklch(0.67 0.17 244.98);

    /* green-500 */
    --success: oklch(0.723 0.219 149.579);

    /* red-600 */
    --destructive: oklch(0.577 0.245 27.325);

    /* blue-700 */
    --link: oklch(0.488 0.243 264.376);

    /* zinc-50 */
    --code: oklch(0.985 0 0);

    /* zinc-950 */
    --code-foreground: oklch(0.141 0.005 285.823);

    /* zinc-400 */
    --code-number: oklch(0.705 0.015 286.067);

    --code-highlight: oklch(0.9584 0.0013 286.37);

    /* zinc-950 */
    --selection: oklch(0.141 0.005 285.823);

    /* zinc-50 */
    --selection-foreground: oklch(0.985 0 0);

    --shadow-popover: 0 6px 24px rgba(0, 0, 0, 0.25);
  }

  .dark {
    /* zinc-950 */
    --background: oklch(0.141 0.005 285.823);

    /* zinc-50 */
    --foreground: oklch(0.985 0 0);

    /* zinc-50 */
    --primary: oklch(0.985 0 0);

    /* zinc-950 */
    --primary-foreground: oklch(0.141 0.005 285.823);

    /* zinc-800 */
    --secondary: oklch(0.274 0.006 286.033);

    /* zinc-50 */
    --secondary-foreground: oklch(0.985 0 0);

    /* zinc-800 */
    --muted: oklch(0.274 0.006 286.033);

    /* zinc-400 */
    --muted-foreground: oklch(0.705 0.015 286.067);

    /* zinc-900 */
    --card: oklch(0.21 0.006 285.885);

    /* zinc-50 */
    --card-foreground: oklch(0.985 0 0);

    /* zinc-900 */
    --popover: oklch(0.21 0.006 285.885);

    /* zinc-50 */
    --popover-foreground: oklch(0.985 0 0);

    /* zinc-700 */
    --popover-border: oklch(0.37 0.013 285.805);

    /* zinc-800 */
    --accent: oklch(0.274 0.006 286.033);

    --accent-muted: color-mix(in oklab, var(--accent) 20%, transparent);

    /* zinc-50 */
    --accent-foreground: oklch(0.985 0 0);

    /* zinc-800 */
    --border: oklch(0.274 0.006 286.033);

    /* --edge: color-mix(in oklab, var(--border) 64%, var(--background)); */

    /* zinc-800 */
    --input: oklch(0.274 0.006 286.033);

    /* zinc-500 */
    --ring: oklch(0.552 0.016 285.938);

    /* green-500 */
    --success: oklch(0.723 0.219 149.579);

    /* red-700 */
    --destructive: oklch(0.505 0.213 27.518);

    /* blue-500 */
    --link: oklch(0.623 0.214 259.815);

    /* zinc-900 */
    --code: oklch(0.21 0.006 285.885);

    /* zinc-50 */
    --code-foreground: oklch(0.985 0 0);

    /* zinc-500 */
    --code-number: oklch(0.552 0.016 285.938);

    /* zinc-800 */
    --code-highlight: oklch(0.274 0.006 286.033);

    /* zinc-50 */
    --selection: oklch(0.985 0 0);

    /* zinc-950 */
    --selection-foreground: oklch(0.141 0.005 285.823);

    --shadow-popover: 0 0 24px rgba(0, 0, 0, 0.5);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

canvas {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Ensure it stays behind all content */
}
